* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

.header {
    background-color: #5f9ea0;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
}

/* Style de la barre de navigation */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #4f8a8b; /* Couleur harmonisée */
    padding: 15px;
    gap: 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #5f9ea0;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar a:hover {
    background-color: #4f8a8b;
    transform: scale(1.05);
}

.about, .projects {
    padding: 2rem 1rem;
    background-color: #fff;
    margin: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.about h2, .projects h2 {
    color: #5f9ea0;
    text-align: center;
    margin-bottom: 1rem;
}

.project-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    background-color: #5f9ea0;
    color: #fff;
    padding: 1rem;
    flex: 1 1 200px;
    margin: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
.project-item img {
    width: 100%; /* S'adapte à la largeur de son conteneur */
    max-width: 300px; /* Limite la largeur maximum pour les grandes images */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée */
    margin-bottom: 10px; /* Espacement en bas de l'image */
}

